
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.row{
  display:flex; 
  
}

.about {
  position: relative;
  top: 10px;
  left: 50px;
  
  
}

.box {
  position: relative;
  top: 90px;
  left: 150px;
  
  
}
.box1 {
  top: 70px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 20px;
  
  
  
}
.box2{
  position: relative;
  border: solid black 2px;
  padding-right: 10px;
  padding-left: 60px;
  
}

.card{
  border: solid grey 2px;
  width: 550px;
  
}

.card2{
  top: 90px;
  left: 350px;
  width: 550px;
  
}



.post{
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
}
